* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Kosugi', sans-serif;
    background: #fff;
    color: #333;
    margin: 0;
}

h3 {
    font-family: 'Kosugi', sans-serif;
    font-size: 1.5rem;
}

header {
    background: #F8F8F8;
    color: #333;
    border-bottom: 1px solid black;
    width: 100%;
    box-sizing: border-box;
}

.name {
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding: 1em;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

nav li {
    padding: 0 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 1em;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img {
    margin-right: 20px;
    display: flex;
    align-items: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-img {
    height: 400px;
    width: 400px;
}

button {
    display: inline-block;
    font-family: 'Kosugi', sans-serif;
    color: #333;
    background-color: #fff;
    margin: 10px;
    padding: 10px 30px;
    cursor: pointer;
    border: 1px solid black;
}

.view-project-button {
    width: 40%;
}

footer {
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

footer li {
    padding: 0 10px;
}

footer a {
    color: #000000;
    font-size: 1em;
}

.mySkills {
    
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.flexContainer > div {
    width: 33%;
    margin: 10px;
    padding: 10px;
}

@media (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }
    .flexContainer > div {
        width: 100%;
    }
}

.skill-img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}

.myWork {
   text-align: center;
   width: 70%;
   margin: auto;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    border: 1px solid black;
}

@media (max-width: 600px) {
    .workGrid {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto auto auto; 
        grid-gap: 20px; 
        grid-template-areas:
            "image1"
            "text1"
            "image2"
            "text2"
            "image3"
            "text3";
    }

    .workGrid > div:nth-child(1) { 
        grid-area: image1;
    }

    .workGrid > div:nth-child(2) { 
        grid-area: text1;
    }

    .workGrid > div:nth-child(3) { 
        grid-area: image2;
    }

    .workGrid > div:nth-child(4) { 
        grid-area: text2;
    }

    .workGrid > div:nth-child(5) {
        grid-area: image3;
    }

    .workGrid > div:nth-child(6) { 
        grid-area: text3;
    }

    .project-img {
        width: 100%; 
        height: auto; 
    }

    .view-project-button {
        width: 100px;
    }

    .project-info {
        width: 100%; 
    }
}